* {
    margin: 0;
    pad: 0;
}

*,
*::before,
*::after {
    box-sizing: border-box;
}

button,
input {
    font: inherit;
}

body {
    font-family: "Space Grotesk", sans-serif;
    font-size: 18px;
    font-weight: 500;
    text-transform: uppercase;
}

.main {
    max-width: 500px;
    min-height: 704px;
    margin: 0 auto;
    position: relative;
}

/* HEADER */

.top {
    background-image: url(./images/bg-main-mobile.png);
    background-position: center;
    background-size: cover;
    position: relative;
    height: 240px;

    margin-bottom: 91px;
    color: #fff;
}

.card-back,
.card-front {
    position: absolute;
    width: 286px;
    height: 157px;
}

.card-back {
    top: 32px;
    right: 16px;
}

.card-front {
    top: 126px;
    left: 17px;
    box-shadow: 0 39px 60px rgba(0, 0, 0, 0.1425);
}

.card-logo {
    width: 54px;
    position: absolute;
    top: 144px;
    left: 36px;
}

.card-text {
    color: #fff;
}

.three-zeros {
    font-size: 9px;
    line-height: 11px;
    letter-spacing: 1.28571px;

    position: absolute;
    right: 53px;
    top: 105px;
}

.zeros {
    line-height: 23px;
    letter-spacing: 2.2px;

    position: absolute;
    left: 36px;
    bottom: 6px;
}

.card-holder-text {
    width: 245px;
    display: flex;
    align-items: center;
    justify-content: space-between;

    font-size: 9px;
    line-height: 11px;
    letter-spacing: 1.28571px;

    position: absolute;
    left: 36px;
    bottom: -22px;
}

/* FORM MESSAGE */

.form__message {
    width: 100%;
    display: flex;
    flex-direction: column;
    text-align: center;
    margin: 0 auto;
    padding: 0 24px;

    position: absolute;
    left: 0;
    top: 0;

    opacity: 0;
    pointer-events: none;
    visibility: hidden;
    transition: opacity 0.15s, visibility 0.15s;
}

.form__message__img {
    width: 80px;
    height: 80px;
    margin: 0 auto;
    margin-bottom: 35px;
}

.form__message__h2 {
    font-size: 28px;
    line-height: 36px;
    letter-spacing: 3.42222px;
    color: #21092f;
    margin-bottom: 16px;
}

.form__message__p {
    font-size: 18px;
    line-height: 23px;
    color: #8f8694;
    margin-bottom: 48px;
    text-transform: none;
}

.form__message__btn {
}

/* FORM */

.form {
    position: relative;
    max-width: 429px;
    margin: 0 auto;
    padding: 0 24px;

    display: flex;
    flex-direction: column;

    font-size: 12px;
    line-height: 15px;
    letter-spacing: 2px;
    color: #21092f;
}

.form > * {
    /* opacity: 0;
    pointer-events: none;
    visibility: hidden; */
    transition: opacity 0.1s, visibility 0.1s;
}

.form__message {
    /* opacity: 1; */
    /* pointer-events: revert; */
    /* visibility: visible; */
}

#card-holder::placeholder,
#card-number::placeholder,
#exp-date::placeholder,
#month::placeholder,
#cvc::placeholder {
    line-height: 23px;
    font-size: 18px;
    opacity: 0.25;
}

input {
    width: 100%;
    height: 45px;

    padding: 11px 16px;
    border-radius: 8px;
    border: 1px solid #dfdee0;
    position: relative;

    font-size: 18px;
    line-height: 23px;
    color: #21092f;
}

input:focus {
    outline: none;
    border: 1px solid #6348fe;
}

label {
    margin-bottom: 9px;
}

#card-holder,
#card-number {
    margin-bottom: 20px;
}

/*  */

.form > div {
    margin-bottom: 28px;
    display: flex;
}

.form > div div:nth-child(1) {
    width: 25%;
    margin-right: 4px;
}

.form > div div:nth-child(2) {
    width: 25%;
    margin-left: 4px;
}

.form > div div:nth-child(3) {
    width: 58%;
    margin-left: 11px;
}

.form > div div label {
    white-space: nowrap;
}

#exp-date,
#month,
#cvc {
    margin-top: 9px;
}

/*  */

.form-btn {
    font-size: 18px;
    line-height: 23px;
    color: #fff;
    padding: 15px;
    border: none;
    border-radius: 8px;
    background-color: #21092f;
    cursor: pointer;
}

/* border: 1px solid #ff5050; */

/*  */

@media only screen and (min-width: 500px) {
    .top {
        border-bottom-left-radius: 8px;
        border-bottom-right-radius: 8px;
        margin-bottom: 100px;
    }
}

@media only screen and (min-width: 1200px) {
    .main {
        display: flex;
        margin: 0;
        max-width: revert;
        min-height: revert;
    }

    .top {
        background-image: url(./images/bg-main-desktop.png);
        background-position: center;
        background-size: cover;
        position: relative;

        width: 483px;
        height: 100vh;
        border-radius: none;
        margin-right: 0;
    }

    .form__message {
        padding: 0;
    }

    .card-back,
    .card-front {
        position: absolute;
        width: revert;
        height: revert;
    }

    .card-back {
        top: 469px;
        right: -222px;
        box-shadow: 0 39px 60px rgba(0, 0, 0, 0.1425);
    }

    .card-front {
        top: 187px;
        left: revert;
        right: -128px;
        box-shadow: 0 39px 60px rgba(0, 0, 0, 0.1425);
    }

    .card-logo {
        width: revert;
        position: absolute;
        top: 215px;
        left: 196px;
    }

    .three-zeros {
        font-size: 14px;
        line-height: 18px;
        letter-spacing: 2px;

        position: absolute;
        right: revert;
        top: 580px;
        left: 616px;
    }

    .zeros {
        font-size: 28px;
        line-height: 36px;
        letter-spacing: 3.42222px;
        white-space: nowrap;

        position: absolute;
        top: 326px;
        left: 196px;
        bottom: revert;
    }

    .card-holder-text {
        width: 383.2px;
        display: flex;
        align-items: center;
        justify-content: space-between;

        font-size: 14px;
        line-height: 18px;
        letter-spacing: 2px;

        position: absolute;
        top: 387.5px;
        left: 196px;
        bottom: revert;
    }

    /*  */

    .form {
        max-width: 381px;
        margin: 275px 0 0 300px;
        padding: 0;

        font-size: 12px;
        line-height: 15px;
        letter-spacing: 2px;
        color: #21092f;
    }
}

@media only screen and (min-width: 1250px) {
    .form {
        margin-left: 349px;
    }

    #card-holder,
    #card-number {
        margin-bottom: 26px;
    }

    .form > div {
        margin-bottom: 40px;
    }
}
